{% extends 'base.html' %}

{% block title %}

{% endblock %}
{% block content %}

<div class="card"> 
    <div class="card-header"> 
      {{ post.get_category_display }} - {{ post.created }}
    </div> 
    <div class="card-body"> 
      <h5 class="card-title">{{ post.title }}</h5> 
      <p class="card-text">{{ post.content }}</p> 
    </div> 
</div><br>

<form action="{% url 'post-update' post.pk%}" method="get">
      
  {% csrf_token %}
  <a href="{% url 'post-update' post.id %}"><button>Редактировать</button></a>
  </form>
  <br>

  <form action="{% url 'post-delete' post.id %}" method="get">
    {% csrf_token %}
    <button type = "submit">Удалить запись</button>
  </form><br>

<div class="container-sm">
    <form action="" method="post">
        {% csrf_token %}
        <label for="username-input" class="form-label">{{ form.username.label_tag }}</label>
        {{ form.username }}<br>
        <label for="username-input" class="form-label">{{ form.text.label_tag }}</label>
        {{ form.text }}<br>
        <button type="submit">Оставить комментарий</button>
    </form>
</div>

  <a href="{% url 'index-page' %}"> <-Назад</a>

{% endblock %}